@font-face {
    font-family: bmitra;
    src: url("Samim.woff");
}
body{
    background-image: url("../Image/bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}
#Add{
    position: fixed;
    left: 60%;
    top: 6%;
    font-family: bmitra;
}
#Add_btn{
    font-size: 20px;
}
#Lang{
    position: fixed;
    left: 20%;
    top: 6%;
    font-family: bmitra;
}
#Window{
    border: 3px solid #4e555b;
    border-radius: 5px;
    margin-top: 90px;
    min-height: 530px;
}
#Window_Header{
    height: 25px;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: stretch;
    align-content: stretch;
    background-color: silver;
}
.Clocks{
    border-left: 1px solid black;
    margin-left: 10px;
    padding-left: 15px;
    height: 100%;
}
#First_Clock {
    padding-right: 8px;
    margin-right: 52px;
}
.Wekend{
    border-bottom: 1px solid black;
    min-height: 72px;
}
.Title_Wekend{
    border-left: 1px solid black;
    height: 72px;
    margin-left: 95%;padding-top: 20px;
}
.Text_Day{
    text-align: end;
}
#Language {
    font-size: 18px;
}
.Half_Time{
    border-left: 1px dashed black;
    height: 535px;
    position: absolute;
    z-index: -99999999;
}

#H1{position: absolute;left: 3.8%}
#H2{position: absolute;left: 8.5%}
#H3{position: absolute;left: 13%}
#H4{position: absolute;left: 17.9%}
#H5{position: absolute;left: 22.6%}
#H6{position: absolute;left: 27.3%}
#H7{position: absolute;left: 32%}
#H8{position: absolute;left: 36.7%}
#H10{position: absolute;left: 41.3%}
#H11{position: absolute;left: 46%}
#H12{position: absolute;left: 50.7%}
#H13{position: absolute;left: 55.4%}
#H14{position: absolute;left: 60.1%}
#H15{position: absolute;left: 64.8%}
#H16{position: absolute;left: 69.5%}
#H17{position: absolute;left: 74.1%}
#H18{position: absolute;left: 78.8%}
#H19{position: absolute;left: 83.5%}
#H20{position: absolute;left: 88.2%}

#Add_Title{
    padding-left: 30%;
}